# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build
coverage

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Others
README.md
.env
.env.*
*.log 